
{ ?A $abstract-substitute-subproperty-1$ ?B .    
  ?B $abstract-substitute-subproperty-2$ ?C . } =>
{ ?A $abstract-substitute-subproperty-3$ ?C . } .

{ ?A $abstract-substitute-subproperty-1$ ?B .    
  ?A $abstract-substitute-subproperty-3$ ?C . } =>
{ ?B $abstract-substitute-subproperty-2$ ?C . } .
