@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix sn: <https://purl.org/sn/vocab#> .
@prefix esn: <https://example.org/esn/vocab#> .
@prefix csn: <https://example.org/csn/vocab#> .

{  $subproperty$ rdfs:subPropertyOf sn:associatedEntity .
    ?A1 a $subclassA$ ;
        $subproperty$ ?B1 .
    ?A2 a $subclassA$ ;
        $subproperty$ ?B2 .    
    ?AR a $subclassC$ ;
        sn:from ?e1 ; sn:into ?e2 . } =>
{  ?B1 a $subclassB$ .
    ?B2 a $subclassB$ .
    _:BR a $subclassD$ ;
        sn:from ?B1 ; sn:into ?B2 . } .